{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main class="bg">
    <section class="container">
    {# MESSAGE ALERT REGISTER #}
    {% for message in app.flashes('success')%}  
        <div class="alert alert-success"> 
            {{ message }}
        </div>
    {% endfor %}
        <div class="hero">
            <h1>Des soirées qui brillent autant que vos idées</h1>
            <p>Crée, imagine et partage des thèmes de soirées inspirantes et mémorables.</p>
            <a class="btn-create" href="{{ path("add_theme") }}">Créer un thème</a>
        </div>
    </section>
    <section class="container">
        <div class="card-accueil">
            <h2>Nos dernières idées inspirantes</h2>
            <div class="card">
                {# Pour afficher les cards themes #}
                {% for theme in themes %}
                <div class="card-content">
                    <div class="card-img">
                        <img src="{{ asset('/uploads/images/' ~ theme.imageName)}}" alt="Image thème halloween">
                    </div>
                    {# <span class="badge badge-disco">{{theme.titre}}</span> #}
                    <h3>{{theme.titre}}</h3>
                    <a class="btn-plus" href={{ path("theme", {'id' : theme.id})}}>Voir</a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}
