{% extends 'base.html.twig' %}

{% block title %}Party Planner{% endblock %}

{% block body %}
<section class="container form-create">
    <h2>Créez votre thème de soirée</h2>
    <div class="container form-add">
        <h3>Votre thème</h3>

        {{ form_start(themeform) }}
            {{ form_row(themeform.titre) }}
            {{ form_row(themeform.description) }}
            <div class="colors-wrapper">
                {{ form_row(themeform.colors) }}
            </div>
            {{ form_row(themeform.imageFile) }}
            {{ form_row(themeform.type) }}

            <button type="submit" class="btn-add-theme">Créer le thème</button>
        {{ form_end(themeform) }}
    </div>
</section>
{% endblock %}
