{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <div class=" container form-contact">
        <h2>Contact</h2>
        <p>Une question n'hésitez pas ! Nous sommes ici pour y répondre.</p>
        {{form_start(form)}}
                {{form_row(form.name)}}
                {{form_row(form.email)}}
                {{form_row(form.message)}}
                {{form_row(form.submit)}}
            {{form_end(form)}}
    </div>

{% endblock %}
