{% extends 'base.html.twig' %}

{% block title %}Hello ThemeController!{% endblock %}

{% block body %}

<section class="container">
{# MESSAGE ALERT COMMENT #}
    {% for message in app.flashes('success-comment')%}  
        <div class="alert alert-success"> 
            {{ message }}
        </div>
    {% endfor %}

    <div class="theme">
            <div class="theme-content">
            <h2>Votre sélection</h2>
                <div class="theme-img">
                    <img src="{{ asset('/uploads/images/' ~ themes.imageName)}}" alt="Image du thème">
                </div>
                <h3>{{themes.titre}}</h3>
                <p class="color">Les couleur(s) :</p> 
                {% for colors in themes.colors %}
					<span>{{colors.name}}</span>
				{% endfor %}
                <p>{{themes.description}}</p>

                {# Uniquement pour les UTILISATEURS #}
                {% if is_granted('ROLE_USER')%}
                <div class="btn-theme">
                    <a class="btn-modif" href={{ path("update_theme", {'id' : themes.id})}}>Modifier</a>
                    <form action="{{ path("delete", {'id' : themes.id}) }}" method="POST" onsubmit="return confirm ('Confirmer la suppression?')">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ themes.id)}}">
                        <input class="btn-sup" id="delete" type="submit" value="Supprimer">
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="theme-comment">
                <h4>Commentaires</h4>
                {% for comment in themes.comments %}
                    <div class="comment">
                        <p><strong>{{ comment.user.username }}</strong> a commenté votre thème :</p>
                        <p class="comment-text">" {{ comment.commentText }}" </p>
                    </div>  
                {% endfor %}
                {# Uniquement pour les UTILISATEURS #}
                 {% if is_granted('ROLE_USER')%}
                {{form_start(commentform)}}
                        {{form_widget(commentform)}}
                        <button class="btn-comment">Ajouter un commentaire</button>
                {{form_end(commentform)}}
                 {% endif %}
            </div>
    </div>
</section>

{% endblock %}
