{% extends 'base.html.twig' %}

{% block title %}Hello GalerieController!{% endblock %}

{% block body %}
<section class="container">
{# MESSAGE ALERT MODIF #}
    {% for message in app.flashes('success-modif')%}  
        <div class="alert alert-success"> 
            {{ message }}
        </div>
    {% endfor %}
{# MESSAGE ALERT ADD #}
    {% for message in app.flashes('success-add')%}  
        <div class="alert alert-success"> 
            {{ message }}
        </div>
    {% endfor %}

    <div class="galerie">
        <div class="galerie-text">
            <h2>Découvrez notre galerie de thèmes pour des soirées inoubliables</h2>
            <p>Nous vous proposons une liste de soirées mais vous pouvez aussi créer la vôtre.</p>
            <a class="btn-add" href={{ path("add_theme")}}>Ajouter un thème</a>
        </div>
        <div class="galerie-card">
            {% for theme in themes %}
            <div class="galerie-content">
                <div class="galerie-img">
                    <img src="{{ asset('/uploads/images/' ~ theme.imageName)}}" alt="Image du thème">
                </div>
                <h3>{{theme.titre}}</h3>
                <p class="color">Les couleur(s) :</p> 
                {% for colors in theme.colors %}
					<span>{{colors.name}}</span>
				{% endfor %}
                <p>{{theme.description}}</p>
                <a class="btn-plus" href={{ path("theme", {'id' : theme.id})}}>Voir plus</a>
            </div> 
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
